<div id="footer">
    <div>
        <div class="header"> <a href="index.html"><img class="logo" src="/assets/images/logo2.png" width="187" height="37" alt="Chronokeep Website Template"></a>
            <ul class="connect">
                <li>
                    <a href="http://www.freewebsitetemplates.com/go/facebook/" class="facebook">&nbsp;</a>
                </li>
                <li>
                    <a href="http://www.freewebsitetemplates.com/go/twitter/" class="twitter">&nbsp;</a>
                </li>
                <li>
                    <a href="http://www.freewebsitetemplates.com/go/googleplus/" class="googleplus">&nbsp;</a>
                </li>
            </ul>
        </div>
        <div class="body">
            <ul class="navigation">
                <li>
                    <a [routerLink]="['/dashboard']">Home</a>
                </li>
                <li>
                    <a [routerLink]="['/external-tools']">External Tools</a>
                </li>
                <li>
                    <a [routerLink]="['/devops-services']">DevOps Services</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="footnote"> &copy; 2019-{{ currentYear }} <a href="http://vankosoft.org">VankoSoft.Org</a> </div>
</div>
