<ul class="article">
    <li class="first">
        <div style="border: 1px solid black; height: auto; margin: 20px; padding: 0 0 20px 0; text-align: center;">
            <h3>Kubernetes Usefull Links.</h3>
            <div>
                <div>Releases: <a href="https://kubernetes.io/releases/" target="_blank">https://kubernetes.io/releases/</a></div>
            </div>
        </div>
        <div style="border: 1px solid black; height: auto; margin: 20px; padding: 0 0 20px 0; text-align: center;">
			<h3>Check If Kubernetes Cluster is Ready.</h3>
			<div>
			    <div>kubectl get nodes</div>
			    <div>kubectl get pods -n kube-system</div>
			    <div>kubectl describe node kube-controller</div>
			    <div>kubectl describe pod kube-dns-2924299975-dfp17 -n kube-system</div>
			</div>
        </div>
    </li>
</ul>