{
    "my_projects": {
        "foo": "bar",
        "zip": "zap"
    },
    "cert": {
        "SshPrivateKey": "/path/to/cert_key/file"
    },
    
    
    "jenkins": {
        "gitlab-iatanasov77": {
            "type": "UsernamePassword",
            "username": "user",
            "password": "pass"
        },
        "superhosting-vankosoft-ssh": {
            "type": "SSHUserPrivateKey",
            "plugin": "ssh-credentials@1.18.1",
            "username": "user",
            "passphrase": "pass",
            "privateKey": "/path/to/cert_key/file"
         }
     }
     
     
}