<div>
    <!-- Info Alerts Box -->
    <div id="ApplicationAlerts"
        class="alert alert-block alert-info fade in d-none"
        style="position: absolute; top: 90px; z-index: 10; width: 98%;"
    > 
        <button type="button" class="close close-sm" data-bs-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
        
        <div id="ApplicationAlertsBody" ></div>
    </div>
    
    <!-- Error Alerts Box -->
    <div id="ErrorApplicationAlerts"
        class="alert alert-block alert-danger fade in d-none"
        style="position: absolute; top: 90px; z-index: 10; width: 98%;"
    > 
        <button type="button" class="close close-sm" data-bs-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
        
        <div id="ErrorApplicationAlertsBody" ></div>
    </div>
</div>