<div id="content">
	<h2>DevOps Services</h2>
	
    <app-loader *ngIf="showSpinner"></app-loader>
    
	<ul id="article" *ngIf="devopsConfig">
	   <li class="first">
	       <div style="border: 1px solid black; width: 600px; height: 150px; margin: 20px; text-align: center; float: left;">
                <h3>Kubernetes Dashboard</h3>
                <a href="https://kube-controller.lh:31001/" target="__blank">Open Kubernetes Dashboard</a>
                <div>
                    <div>&nbsp;</div>
                    <div>Get Kubernetes Dashboard Admin Token With:</div>
                    <div>kubectl create token admin-user -n kubernetes-dashboard</div>
                </div>
            </div>
	   </li>
	   <li class="first">
            <div *ngIf="devopsConfig.subsystems.docker.enabled" style="border: 1px solid black; width: 300px; height: 150px; margin: 20px; text-align: center; float: left;">
                <h3>Docker Dashboard</h3>
                <a href="https://kube-controller.lh:9443/" target="__blank">Open Docker Dashboard</a>
                <div>
                    <div>&nbsp;</div>
                    <div>Username: admin</div>
                    <div>Password: Portainer@123</div>
                </div>
            </div>
	        
            <div *ngIf="devopsConfig.subsystems.hashicorp.enabled" style="border: 1px solid black; width: 640px; height: 150px; margin: 20px; text-align: center; float: left;">
                <h3>Vault Server</h3>
                <a href="http://kube-controller.lh:{{ devopsConfig.subsystems.hashicorp.vault.config.port }}/ui" target="__blank">Open Vault UI</a>
                <div>
                    <div>&nbsp;</div>
                    <div>Unseal Key: {{ devopsConfig.vaultKeys.keys[0] }}</div>
                    <div>Root Token: {{ devopsConfig.vaultKeys.root_token }}</div>
                </div>
            </div>
        </li>
	</ul>

</div>
